<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="submitForm()">
    <ion-list>
      <ion-item *ngFor="let field of fields">
        <ion-label position="floating">{{ field.label }}</ion-label>
        <ion-input [(ngModel)]="formData[field.name]" name="{{field.name}}"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit">Enviar</ion-button>
  </form>
</ion-content>
